* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 2rem;
}

.container {
  background-color: gray;
  padding: 1rem;
  margin-top: 1rem;
  width: 240px;
  height: fit-content;
}

.draggable {
  margin: 0.5rem;
  padding: 1rem;
  background-color: antiquewhite;
  border: 1px solid black;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}
