*{
    font-family: Arial;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 50px;
}

#game-board {
    width: 300px;
    height: 300px;
    background-color: rgba(191, 0, 255, 0.44);
    display: flex;
    flex-wrap: wrap;
    border: solid 1px rgba(191, 0, 255, 0.44);
    border-radius: 3px;
}

#info{
    font-size: 30px;
}

#restart-btn{
    background-color: rgba(255, 213, 0, 0.44);
    color: rgba(0, 0, 0, 0.44);
    padding: 10px;
    border-radius: 3px;
}

#restart-btn:hover {
    cursor: pointer;
    box-shadow: -8px 12px 20px rgba(191, 0, 255, 0.44);
}

.square {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid rgba(191, 0, 255, 0.44);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 15px solid rgba(0, 140, 255, 0.44);
    box-sizing: border-box;
}

.cross {
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);
}

.cross:before, .cross:after {
    content: '';
    position: absolute;
    background-color: rgba(255, 128, 0, 0.44);
}

.cross:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.cross:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}